apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    basicAuth: false
    isDefault: true
    version: 1
    editable: true
    
  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    basicAuth: false
    isDefault: false
    version: 1
    editable: true
    
  - name: Redis
    type: redis-datasource
    access: proxy
    orgId: 1
    url: redis://redis-primary:6379
    basicAuth: false
    isDefault: false
    version: 1
    editable: true
    jsonData:
      client: 'redis'
      poolSize: 5
      timeout: 10
      pingInterval: 0